<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon shortcut" href="/favicon.ico">
    <title>WebCo</title>
</head>
<body>
    <%- include("../../partials/navbar.ejs", { loggedIn: true }); %>
    <%- include("../../partials/resourcebar.ejs", { resources }); %>
    <h2>Hello <%= user %></h2>
    <div class="building-builder-main">
        <% ["coal-mine", "copper-mine", "gold-mine", "iron-mine", "oil-pump", "uranium-mine", "lumber"].forEach((building) => { %>
        <div class="building-builder-item" id="div-building-builder-<%= building %>">
            <img class="building-builder-photo" src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/d/d1/Iron_Pickaxe_JE3_BE2.png" />
            <%= lang.buildings[building.replace("-", "_")] %>
            <% const level = buildings[building.replace("-", "_")] ?? 0 %>
            <button class="building-builder-button" id="button-build-<%= building %>" onclick="build('<%= userId %>', this.id, '<%= level + 1 %>')"><span class="building-builder-button-text"><%= level === 0 ? "build" : "upgrade" %></span><span class="building-builder-level" id="button-level-<%= building %>"><%= level %></span></button>
        </div>
        <% }); %>
    </div>
    
    <div class="dialog">
        <span class="dialog-close dialog-exit">&#x2715;</span>
        <h2 class="dialog-title">Building confirm</h2>
        <p class="dialog-content"></p>
        <div class="dialog-buttons">
            <button class="dialog-action dialog-button-red dialog-exit">Cancel</button>
            <button class="dialog-action dialog-button-green dialog-confirm">Confirm</button>
        </div>
    </div>  

    <script src="/js/game.js"></script>
</body>
</html>